body {
    background-image: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* All navbars */
.navbar-brand {
    padding-left: 3.5em;
}

/* All containers for html */
.contentBox {
    background-color: #f9f7f7;
    border-radius: 2%;
}
.contentBox h1 {
    color: #112d4e;
}

/* All Footers for html*/
.footerAll {
    background-color: #112d4e;
    color: #f9f7f7;
    justify-content: end;
}
.footerRow {
    height: 0.1em;
    background-color: aqua;
}
footer span {
    display: block;
    text-align: center;
}
.linkedIn {
    color: #f9f7f7;
}

/* Specific Pages Below */

/* About Me Page */
.aboutMePic {
    width: 25%;
    border-radius: 50%;
    float: left;
}
/* Portfolio Page */
.portfolioImage, .portfolioImageMCS {
    height: 300px;
    width: 300px;
}
.portfolioImageMCS {
    opacity: 0.7;
}
.portfolioImage:hover {
    opacity: 0.7;
}


/* Media Queries */
@media (max-width: 400px) {

    .navbar-brand {
        padding-left: 0.5em;
    }

}