body {
    background-image: url(../images/background.jpg);
}

/* All containers */
.contentBox {
    background-color: #f9f7f7;
}

.contentBox h1 {
    color: #112d4e;
}

/* All Footers */
hr {
    height: 0.1em;
    background-color: aqua;
    margin: 0;
}
.footerAll {
    text-align: center;
    background-color: #112d4e;
    color: #f9f7f7;
}

/* About Me Page */
.aboutMePic {
    width: 25%;
    border-radius: 50%;
    float: left;
}





/* Media Queries */
@media screen and (max-width: 400) {

    .aboutMe {
        width: 100%;
    }

}